@using BookCommerce1.Model
@model List<BookCommerce1.Model.NenKategoria>

@if (TempData["suksesi"] != null)
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["suksesi"]')
    </script>
}
@if (TempData["fshiMeSukes"] != null)
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.warning('@TempData["fshiMeSukes"]')
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Lista e kategorive</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="NenKategoria" asp-action="Krijo" class="btn btn-secondary">Shto</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Emri</th>
            <th>Renditja</th>
            <th>Veprimi</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var kat in Model)
        {
            <tr>
                <td>@kat.Id</td>
                    <td>@kat.Emri</td>
                <td>@kat.Renditja</td>
                <td>
                    <div class="w-75 btn-group">
                        <a asp-controller="NenKategoria" asp-action="Ndrysho" asp-route-categoriId="@kat.Id" class="btn btn-primary mx-1">Ndrysho</a>
                            <a asp-controller="NenKategoria" asp-action="Fshi" asp-route-categoriId="@kat.Id" class="btn btn-danger mx-1">Fshi</a>
                    </div>
                </td>
            </tr>
        }
       
        </tbody>
    </table>
</div>